@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 15px 30px;
    font-size: 1.25rem;
    border: none;
    outline:none;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.primary-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* header css */
header{
    background-color: #FFF4E7;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}
nav h1{
    font-size: 2.2rem;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* banner content css */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner .banner-content{
    max-width: 70%;
    margin-bottom: 30px;
}
.banner-content h1{
    font-size: 3rem;
    padding: 20px 100px;
}
.banner-content p{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.banner-img img{
    max-width: 100%;
}

@media(max-width:400px){
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 30px;
    }
    nav ul li{
        margin-left: 30px;
    }
    nav ul li:first-child{
        margin-left: 0px;
    }
    .banner-content h1{
        font-size: 1.8rem;
        padding: 20px 15px;
    }
    .banner .banner-content{
        max-width: 95%;
    }
}

@media(min-width:401px) and (max-width:576px){
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 30px;
    }
    nav ul li{
        margin-left: 40px;
    }
    nav ul li:first-child{
        margin-left: 0px;
    }
    .banner .banner-content{
        max-width: 80%;
    }
    .banner-content h1{
        font-size: 2.4rem;
        padding: 20px 20px;
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    .banner-content{
        max-width: 100%;
    }
    .banner-content h1{
        font-size: 3rem;
        padding: 20px 0px;
    }
}

/* main sections css */
main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    /* padding: 0px 50px; */
}
main .container .images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
main .container .features-list{
    margin-left: 50px;
}
main .container .features-list h1{
    font-weight: 600;
    font-size: 2rem;
    color: #131313;
}
main .container .features-list p{
    margin: 25px 0px;
    font-size: 0.8rem;
}
.feature-color{
    color: #FF900E;
}

@media screen and (max-width:400px){
    main .container{
        flex-direction: column;
    }
    main .container .images{
        grid-template-columns: repeat(1,1fr);
    }
    main .container .images img{
        max-width: 99%;
    }
    main .container .features-list{
        margin-top: 50px;
        margin-left: 0px;
    }
}

@media screen and (min-width:401px) and (max-width:576px){
    main .container{
        flex-direction: column;
    }
    main .container .images{
        grid-template-columns: repeat(1,1fr);
    }
    main .container .features-list{
        margin-top: 50px;
        margin-left: 0px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    main .container{
        flex-direction: column;
    }
    main .container .images{
        grid-template-columns: repeat(2,1fr);
    }
    main .container .images img{
        max-width: 99%;
    }
    main .container .features-list{
        margin-top: 50px;
        margin-left: 0px;
    }
}


/* features to love css */
.features-to-love .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.features-to-love .features-left-side{
    width: 50%;
}

.features-to-love .features-left-side h1{
    font-size: 2.5rem;
    border-left: 5px solid #FF900E;
    padding-left:20px ;
}
.features-to-love .features-left-side .features-description{
    font-size: 0.8rem;
    margin: 25px 0px;
}
.features-to-love .container .features-architect-image img{
    max-width: 100%;
}
.features-to-love .features-left-side .feature-card{
    padding: 15px 20px;
    margin-top: 25px;
    box-shadow: 0px 0px 14px -3px #00000038;
    border-radius: 10px;
}
.features-to-love .features-left-side .feature-card h4{
    margin-bottom: 15px;
}

.features-to-love .features-left-side .feature-card p{
    padding-right: 50px;
    font-size: 0.7rem;
    color: #727272;
    line-height: 23px;
}

.features-to-love .experience-badge{
    text-align: center;
    transform: translateY(-150%);
    margin-left: 80px;
}
.features-to-love .experience-badge button{
    padding: 35px 20px;
}
.features-to-love .experience-badge .ten-years{
    font-size: 2.3rem;
    font-weight:900;
}

@media screen and (max-width:400px){
    .features-to-love .features-left-side h1{
        font-size: 1.8rem;
    }
    .features-to-love .container{
        flex-direction: column;
    }
    .features-to-love .features-left-side{
        width: 100%;
    }
    .features-to-love .experience-badge{
        transform: translateY(-150%);
        margin: 0px;
    }
    .features-to-love .experience-badge button{
        padding: 15px 20px;
    }
    .features-to-love .experience-badge .ten-years{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:401px) and (max-width:576px){
    .features-to-love .container{
        flex-direction: column;
    }
    .features-to-love .features-left-side{
        width: 100%;
    }
    .features-to-love .experience-badge{
        transform: translateY(-150%);
        margin: 0px;
    }
    .features-to-love .experience-badge button{
        padding: 20px 25px;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    .features-to-love .container{
        flex-direction: column;
    }
    .features-to-love .features-left-side{
        width: 100%;
    }
    .features-to-love .experience-badge{
        transform: translateY(-150%);
        margin: 0px;
    }
    .features-to-love .experience-badge button{
        padding: 20px 25px;
    }
}

/* some facts css */
.some-facts{
    margin-bottom: 100px;
    transform: translateY(-100px);
}
.some-facts .container{
    display: flex;
    flex-direction: column;
}
.some-facts .some-facts-info{
    margin-bottom: 100px;
}
.some-facts .some-facts-info h1{
    font-size: 2.5rem;
}
.some-facts .some-facts-info p{
    font-size: 0.8rem;
    margin-top:20px;
    width: 50%;
}
.some-facts .facts-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.some-facts .facts-boxes .single-fact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 30px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.some-facts .facts-boxes .single-fact-box:hover{
    cursor: pointer;
    transform: rotate(15deg)
}

@media screen and (max-width:400px){
    .some-facts .facts-boxes{
        grid-template-columns: 1fr;
    }
    .some-facts .some-facts-info p{
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width:576px){
    .some-facts .facts-boxes{
        grid-template-columns: 1fr;
    }
    .some-facts .some-facts-info p{
        width: 100%;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    .some-facts .facts-boxes{
        grid-template-columns: 1fr 1fr;
    }
    .some-facts .some-facts-info p{
        width: 100%;
    }
}